
*.jpg
*.ttf
*.pyc
*.otf
*.png
*.jpeg
backgrounds/.DS_Store
*.egg
*.gz
minds_bot/octave-workspace
minds_bot/input.tex
minds_bot/input.log
minds_bot/input.aux
minds_bot/bot_memory.sav
fonts/.DS_Store
minds_bot/.DS_Store
api_wrappers/mindsapi/mindsapi.egg-info/top_level.txt
api_wrappers/mindsapi/mindsapi.egg-info/SOURCES.txt
api_wrappers/mindsapi/mindsapi.egg-info/PKG-INFO
api_wrappers/mindsapi/mindsapi.egg-info/not-zip-safe
api_wrappers/mindsapi/mindsapi.egg-info/dependency_links.txt
api_wrappers/mindsapi/.DS_Store
api_wrappers/gnusocialapi/gnusocialapi.egg-info/top_level.txt
api_wrappers/gnusocialapi/gnusocialapi.egg-info/SOURCES.txt
api_wrappers/gnusocialapi/gnusocialapi.egg-info/PKG-INFO
api_wrappers/gnusocialapi/gnusocialapi.egg-info/not-zip-safe
api_wrappers/gnusocialapi/gnusocialapi.egg-info/dependency_links.txt
api_wrappers/gabapi/gabapi.egg-info/top_level.txt
api_wrappers/gabapi/gabapi.egg-info/SOURCES.txt
api_wrappers/gabapi/gabapi.egg-info/PKG-INFO
api_wrappers/gabapi/gabapi.egg-info/not-zip-safe
api_wrappers/gabapi/gabapi.egg-info/dependency_links.txt
api_wrappers/gabapi/dist/gabapi-0.0.3-py3-none-any.whl
api_wrappers/.DS_Store
